*{
    padding: 0;
    margin: 0;
 }
 #menu-superior li{
    display: inline;
   
 }
 #menu-superior li a,h1 a{
   text-decoration: none;
 }
 
 #menu-superior {
   padding-right: 40px;
 }
 header h1{
   padding-left: 40px;
 }
 #headerTitle {
   color: teal;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   padding-top: 0px;
}

#headerTitle h2 {
   font-size: 80px; 
   text-align: center;  
}

#headerTitle .botton-touch {
   background-color: green;
   color: white;
   padding: 6px;
   width: 15%;
   margin: 20px 0;
   text-align: center;
}

#headerTitle .botton-touch:hover {
   background-color: rgb(4, 40, 4);
}

 header{
   background: url("../img/Banner.jpg") ;
   background-repeat: no-repeat;
   background-position: center center;
   height: 740px;
   background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
 }
 
section {
    text-align: center; 
    margin: 10px; 
    padding-top: 50px;

}
img {
    max-width: 100%; 
    height:auto;
    padding-inline: 0 20px;
    
   }
/*parrafo casi final */
#parrafo-img{
   display: flex; 
   justify-content:space-between;
   flex-direction: row;
   padding: 60px 0 ;
  }
  #parrafo-img img{
     width: 50%;
     margin-left: 25px;
  }
  #parraf
  {
   padding-top: 50px;
  }
 
#parrafo-img .botton-touch{
   width:20%;
   height: 20px;
   text-align: center;
}

/*
#parrafo-img{
   display: flex;
   text-align: center; 
   margin: 10px; 
}
#parrafo-img img{
   max-width: 100%; 
   height: 30%; 
}
*/
#talk-to-us{
   background: url("../img/footer-img.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 15% 0;
}

footer{
   display: inline;
   padding: 30%;
   text-align: center;
   padding: 90px;
   
}
#menu-inferior li a,h1 a{
   text-decoration: none;
   padding: 20px;
 }
 #menu-inferior li{
   display: inline;
}
footer h2{
   padding: 5%;
}
#talk-to-us h2{
   position: center;
   padding-left: 45%;
   
}
#talk-to-us p{
   text-align: center;
   
}
.tamano-parrafo{
    font-size: 17px;
    padding: 10px;
    line-height: 28.9px;

}
.botton-touch
{
    background-color: green;
    color: white;
    padding: 1px;
    width: 15%;
    margin: 0 auto;
}
.botton-touch:hover{
    background-color: rgb(4, 40, 4);
}
.link-top{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.izquierdo{
   margin: auto 0;
}
/* Media query para pantallas de hasta 768px */
@media screen and (max-width: 768px) {
   #parrafo-img {
       flex-direction: column-reverse;
   }
   
   #parrafo-img img {
       width: 100%;
       margin-left: 0;
       margin-bottom: 20px;
   }
   #parraf {
       padding: 0;
   }
  

}
/* Estilos del botón de toggle */
.toggle-menu-btn {
   display: none;
   cursor: pointer;
   font-size: 24px;
}

/* Estilos del menú */
nav ul {
   list-style-type: none;
}

nav ul li {
   display: inline;
   margin-right: 20px;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
   /* Mostrar el botón de toggle solo en pantallas pequeñas */
   .toggle-menu-btn {
       display: block;
   }

   /* Ocultar el menú por defecto en pantallas pequeñas */
   nav ul {
       display: none;
   }

   /* Mostrar el menú cuando el checkbox está marcado */
   #toggle-menu:checked ~ nav ul {
       display: block;
   }
   
   
}

