*{
    padding: 0;
    margin: 0;
 }
 #menu-superior li{
    display: inline;
   
 }
 #menu-superior li a,h1 a{
   text-decoration: none;
 }
 
 #menu-superior {
   padding-right: 40px;
 }
 header h1{
   padding-left: 40px;
 }
 header h2{
   align-items: center;
   color:teal;
   font-size: 3em;
   display: flex;
 }
 header{
   background: url("../img/bo-about-banner.jpg") ;
   background-repeat: no-repeat;
   background-position: center center;
   height: 540px;
   background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
   
 }
 
 main {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-around;
    
 }
section {
    flex: 1;
    text-align: center; 
    margin: 10px; 
    padding-top: 50px;
}

/*parrafo casi final */

#parrafo-img{
 display: flex; 
 justify-content:space-between;
 flex-direction: row;
 padding: 60px 0 ;
}
#parrafo-img img{
   width: 50%;
   margin-left: 25px;
}
#parraf{
    padding: 0 50px;
}

/*
#parrafo-img{
   display: flex;
   text-align: center; 
   margin: 10px; 
}
#parrafo-img img{
   max-width: 100%; 
   height: 30%; 
}
*/
#talk-to-us{
   background: url("../img/footer-img.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 15% 0;
}
#talk-to-us h2{
    position: center;
    padding-left: 45%;
    
}
#talk-to-us p{
    text-align: center;
    
}
footer{
   display: inline;
   padding: 30%;
   text-align: center;
   padding: 90px;
   
}
#menu-inferior li a,h1 a{
   text-decoration: none;
   padding: 20px;
 }
 #menu-inferior li{
   display: inline;
}
footer h2{
   padding: 5%;

}
.tamano-parrafo{
    font-size: 17px;
    padding: 10px;
    line-height: 28.9px;
}
.botton-touch
{
    background-color: green;
    color: white;
    padding: 5px;
    width: 15%;
    margin: 0 auto;

}
.botton-touch:hover{
    background-color: rgb(4, 40, 4);
}
.link-top{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
 